<html>
  <body>
    Here are your bookmarks
    <ul>
    <% @bookmark_list.each do |bookmark|%>
    <li><a href =<%= "#{bookmark[:url]}" %> > <%= "#{bookmark[:title]} "%></a></li>
    <% end %>
    </ul>
  </body>
</html>
